@font-face {
  font-family: homestuckRegular;
  src: url(./assets/HOMESTUCK\ REGULAR\ \(EPILOGUES\ FONT\).TTF);
}

@font-face {
  font-family: Platypi;
  src: url(./assets/Platypi-VariableFont_wght.ttf);
}

@font-face {
  font-family: PlatypiI;
  src: url(./assets/Platypi-Italic-VariableFont_wght.ttf);
}

body {
  margin: 0;
  font-family: Platypi;

  --cola: #8bdcbe;
  --colb: #6ab488;
  --colc: #0f061d;
  --cold: #99987d;
  --cole: #85684f;

  --black: black;

  background-color: var(--colc);
  color: var(--colb);

}

#main {
  max-width: 1200px;
  margin: auto;
  padding: 0 1em 0.25em;

  background-color: var(--colc);

}

a { color: var(--colb); }
a:hover { color: var(--cola); }

/* COOL GRID THAT MIGHT BE A MISTAKE */

#background {
  background-image: 
    linear-gradient(45deg, var(--colb) 25%, transparent 25%), 
    linear-gradient(-45deg, var(--colb) 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, var(--cole) 75%), 
    linear-gradient(-45deg, transparent 75%, var(--cole) 75%);
  background-size: 200px 200px;
  background-position: 0 0, 0 100px, 100px -100px, -100px 0px;

  position: fixed;
  inset: -100vw;
  z-index: -10;
  rotate: 45deg;

  opacity: 0.5;

  animation: bg 15s linear forwards infinite;
}

.access #background {
  animation: none;
}

@keyframes bg {
  0% { background-position: 0 0, 0 100px, 100px -100px, -100px 0px;}
  50% { background-position: 100px 100px, 100px 200px, 200px -200px, -200px 100px; }
  100% { background-position: 200px 200px, 200px 300px, 300px -300px, -300px 200px;}
}

.impButton {
  display: block;
  background-color: var(--cola);
  border: var(--colb) solid;
  margin:  0.5em auto;
  font-family: PlatypiI;
  cursor: pointer;
}

.impButton:hover {
  background-color: var(--colb);
  border: var(--cola) solid;
}

/* BANNER */

#banner img {
  max-width: 100%;
}

/* NAV */

nav {
  display: flex;
  align-items: stretch;
  background-color: var(--colb);
  font-weight: bold;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: var(--black);
}

nav > *:hover {
  background-color: var(--cola);
}

nav > * {
  position: relative;
  flex-grow: 1;
  text-align: center;

  background-color: var(--colb);
  padding: 0.25em 0.1em;
  color: var(--black);
}

nav a:hover {
  color: var(--black);
}

nav ul {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  list-style: none;
  display: none;
  text-align: left;

  margin: 0;
  width: max-content;

  background-color: var(--black);
  padding: 0.5em 1em;
  border-radius: 0 10px 10px 10px;
}

nav ul a { color: var(--cola) }
nav ul a:hover { color: var(--colb) }

nav span:hover ul, nav ul:hover, nav span:active ul, nav ul:active {
  display: block;
}

nav span::after {
  content: "";
}

#entercon {
  background-color: var(--cole);
}

#entercon:hover {
  background-color: var(--cold);
}

#entercon div {
  position: absolute;
  bottom: 100%;
  width: 150%;
  text-align: left;
  padding: 0.5em 1em;
  background-color: var(--cold);
  border-radius: 10px 10px 10px 0;
  left: 0;
  display: none;
}

#entercon:hover div { display: block; }

/* TICKER */

.ticker-container {
  width: 100%;
  overflow: hidden;
  background-color: var(--black);
  font-family: PlatypiI;
}

.ticker-wrapper {
  width: 100%;
  padding-left: 100%;
  background-color: transparent;
}

@keyframes ticker {
  0% {
      transform: translate3d(0, 0, 0);
  }
  100% {
      transform: translate3d(-100%, 0, 0);
  }
}

.ticker-transition {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 40s;
}

.ticker-transition:active {
  animation-play-state: paused;
  cursor: pointer;
}

.ticker-item {
  display: inline-block;
  font-style: italic;
  padding: 0.1em 0;
  font-size: 1.5em;
  color: var(--cola);
}

.ticker-item::after {
  content: "•";
  display: inline-block;
  width: 2em;
  text-align: center;
}

.ticker-item:last-child:after {
  content: "";
}

/* content */

#flexWrap {
  display: flex;
  gap: 10px;
}

#left {
  padding: 1em;
  width: 65%;
}

#left img {
  max-width: 100%;
}

#quicklinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3%;
  align-items: center;
}

#quicklinks > * {
  width: 33%;
  margin: 0 -2.5%;
}

#quicklinks img {
  width: 100%;
  transition: transform 0.1s;
}

#quicklinks img:hover {
  transform: scale(1.2);
}


h1, h2 {
  font-family: homestuckRegular;
  font-weight: 400;
  border-bottom: currentColor solid;
  text-transform: uppercase;
}

#right {
  max-width: 35%;
  padding: 1em 0 0 1em;
}

#dates {
  background-color: var(--colb);
  color: var(--black);
  border: solid var(--colb) !important;
  padding: 0 1em;
  margin-bottom: 0.5em;
}

#dates a {
  color: var(--black);
}

#music {
  padding-bottom: 1em;
}

#music audio {
  background-color: var(--cola);
  width: 100%;
  margin-top: -1em;
}

audio::-webkit-media-controls-panel {
  background-color: var(--cola);
}

.log {
  color: var(--black);
  padding: 12px 5%;
  border: 1px dashed gray;
  margin: 1em 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

/* Details */

details {
  margin: 1em;
}

summary {
  font-family: homestuckRegular;
  font-weight: 400;
  border-bottom: currentColor solid;
  text-transform: uppercase;
  text-align: center;
  font-size: x-large;
}

summary:hover {
  color: var(--cola)
}

/* HOME */

#enter {
  text-align: center;
  font-family: homestuckRegular;
  margin-bottom: 0.5em;
  padding: 0.5em;
  clip-path: polygon(10% 5%, 90% 5%, 100% 50%, 90% 95%, 10% 95%, 0% 50%);
  text-shadow: 0 2px var(--colb);
  text-transform: uppercase;

  background-image: linear-gradient(0deg, rgba(36,0,2,0.8) 0%, #79234077 100%), url(./assets/vrchat.png);
  background-size: cover;

  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--colc); */
}

#enter a {
  color: var(--cola);
  text-decoration: none;
}

#enter a:hover {
  color: var(--colb)
}

#big {
  font-size: 4em;
}

#small {
  font-size: 2em;
}

/* CREDITS */

.credTable {
  font-size: large;
}

.credTable > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0.25em 0;
}

.credTable > div:nth-child(odd) {
  background-color: var(--black);
}

.credTable > div > div {
  width: calc(50% - 1em);
}

.credTable > div > div:first-child {
  font-weight: bold;
  text-align: right;
}

.credTitle {
  text-align: center;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: homestuckRegular;
  font-weight: 400;
  font-size: 2em;
}

.landingList {
  font-size: large;
}

/* ARTISTS */

.alley > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  margin: 1em 0;
}

.alley > div div {
  width: 60%;
}

.alley > div:nth-child(odd) p {
  order: -1;
}

.alley > div p {
  width: 35%;
  color: var(--c, var(--black));
  background-color: var(--b, #eeeeee);
  padding: 12px 5%;
  /* border: 1px dashed gray; */
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

/* ACTIVITES */

.cardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardHolder > div {
  width: 30%;
}

.cardHolder img {
  height: 300px;
  object-fit: cover;
}

/* GUESTS */

#guestWheel {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-family: homestuckRegular;
  margin: 1em 0;
}

#guestWheel > div {
  width: 30%;
  margin: 0 -2%;
}

#guestWheel a {
  display: block;
  position: relative;
  text-decoration: none;
  transition: transform 0.1s;
  transform-origin: 50% 70%;
}

#guestWheel a:hover {
  transform: scale(1.15);
  z-index: 1;
}

#guestWheel img {
  margin-bottom: -10px;
}

/* Guests 2024 */

#guestWheel24 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-family: homestuckRegular;
  flex-wrap: wrap;

  margin: 1em 0;
  font-size: 1.35em;

  outline: var(--cole) solid 0.5em;
  border: var(--colc) solid 0.5em;
}

#guestWheel24 > div {
  width: 25%;
  aspect-ratio: 1 / 1;
  position: relative;
}

#guestWheel24 a { color: var(--colc); }
#guestWheel24 a:hover { color: var(--cola); }

#guestWheel24 img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  width: 100%;
  position: absolute;
  left: 0;
}

#guestWheel24 span {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 10;
}

/* Foot */

#foot ul {
  text-align: right;
}

#foot ul li {
  display: inline;
}

#foot ul li::after {
  content: " • "
}

#foot ul li:last-child:after {
  content: ""
}

#daytah {
  position: fixed;
  bottom: 1em;
  right: 1em;

  opacity: 0.5;
  max-width: 30%;
  transition: opacity 0.25s;
}

#daytah.hidden {
  opacity: 0;
}

#daytah:hover {
  opacity: 1;
}

@media only screen and (max-width: 1464px) {
  #daytah {
    pointer-events: none;
  }
}

/* PHONE */

@media only screen and (max-width: 600px) {
  #flexWrap {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  #right, #left {
    max-width: 100%;
    width: 100%;
  }

  #right {
    padding: 1em
  }

  #music {
    display: none;
  }
  
  #foot {
    padding-right: 1em;
  }

  #big {
    font-size: xx-large;
  }

  #small {
    font-size: x-large;
  }

  #enter {
    height: 6em;
  }

  .alley > div:nth-child(odd) p {
    order: unset;
  }

  .alley > div * {
    width: unset !important;
  }

  .alley > div {
    flex-wrap: wrap;
  }

  .cardHolder > div {
    width: unset;
  }

  #background {
    display: none;
  }

  #main {
    padding: 0;
  }

  #bgOff {
    display: none;
  }
}