@font-face {
  font-family: homestuckRegular;
  src: url(./assets/HOMESTUCK\ REGULAR\ \(EPILOGUES\ FONT\).TTF);
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --cola: #D8F090;
  --colb: #C0D818;
  --colc: #1f0e20;

  background-color: var(--colc);
  color: var(--colb)
}

#main {
  max-width: 1200px;
  margin: auto;
}

a { color: var(--colb); }
a:hover { color: var(--cola); }

/* BANNER */

#banner img {
  max-width: 100%;
}

/* NAV */

nav {
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

nav > *:hover {
  background-color: var(--cola);
}

nav > * {
  position: relative;
  flex-grow: 1;
  text-align: center;

  background-color: var(--colb);
  padding: 0.25em 0.1em;
  color: black;
}

nav > a:hover {
  color: black;
}

nav ul {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  list-style: none;
  display: none;
  text-align: left;

  margin: 0;
  width: max-content;

  background-color: black;
  padding: 0.5em 1em;
  border-radius: 0 10px 10px 10px;
}

nav ul a { color: var(--cola) }
nav ul a:hover { color: var(--colb) }

nav span:hover ul, nav ul:hover {
  display: block;
}

nav span::after {
  content: "";
}

#entercon {
  background-color: #0086EB;
}

#entercon:hover {
  background-color: #10E0FF;
}

#entercon div {
  position: absolute;
  bottom: 100%;
  width: 150%;
  text-align: left;
  padding: 0.5em 1em;
  background-color: #10E0FF;
  border-radius: 10px 10px 10px 0;
  left: 0;
  display: none;
}

#entercon:hover div { display: block; }

/* TICKER */

.ticker-container {
  width: 100%;
  overflow: hidden;
  background-color: black;
  font-family: homestuckRegular;
}

.ticker-wrapper {
  width: 100%;
  padding-left: 100%;
  background-color: transparent;
}

@keyframes ticker {
  0% {
      transform: translate3d(0, 0, 0);
  }
  100% {
      transform: translate3d(-100%, 0, 0);
  }
}

.ticker-transition {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 30s;
}

.ticker-transition:active {
  animation-play-state: paused;
  cursor: pointer;
}

.ticker-item {
  display: inline-block;
  font-style: italic;
  padding: 0.1em 0;
  font-size: 1.5em;
  color: var(--cola);
}

.ticker-item::after {
  content: "•";
  display: inline-block;
  width: 2em;
  text-align: center;
}

.ticker-item:last-child:after {
  content: "";
}

/* content */

#flexWrap {
  display: flex;
  gap: 10px;
}

#left {
  padding: 1em;
  width: 65%;
}

#left img {
  max-width: 100%;
}

#quicklinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#quicklinks a {
  width: 33%;
}

#quicklinks img {
  width: 100%;
  transition: transform 0.1s;
}

#quicklinks img:hover {
  transform: scale(1.2);
}

h1, h2 {
  font-family: homestuckRegular;
  font-weight: 400;
  border-bottom: currentColor solid;
  text-transform: uppercase;
}

#right {
  max-width: 35%;
  padding: 1em 0 0 1em;
}

#dates {
  background-color: var(--colb);
  color: black;
  border: solid var(--colb) !important;
  padding: 0 1em;
  margin-bottom: 1em;
}

#music {
  padding-bottom: 1em;
}

#music audio {
  background-color: var(--cola);
  width: 100%;
  margin-top: -1em;
}

audio::-webkit-media-controls-panel {
  background-color: var(--cola);
}

.log {
  color: black;
  padding: 12px 5%;
  border: 1px dashed gray;
  margin: 1em 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

/* Foot */

#foot ul {
  text-align: right;
}

#foot ul li {
  display: inline;
}

#foot ul li::after {
  content: " • "
}

#foot ul li:last-child:after {
  content: ""
}

#daytah {
  position: fixed;
  bottom: 1em;
  right: 1em;

  opacity: 0.2;
  transition: opacity 0.25s;
}

#daytah:hover {
  opacity: 1;
}

@media only screen and (max-width: 1464px) {
  #daytah {
    display: none;
  }
}